body {
  background-color: #888;
  background-image: url('images/2keys.jpg');
  background-attachment: fixed;
  margin-top: 0;
}

div.header {
  margin-top: 0;
  padding-top: 1px;
}
div.header h1 a:link,
div.header h1 a:visited,
div.header h1 a:hover,
div.header h1 a:active {
  text-decoration: none;
  color: black;
}

div.nav {
  background-color: black;
  color: white;
}

div.nav ul {
  display: inline;
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 0.5em;
  list-style: none;
  align: center;
}
ul#menu li {
  border-left: 1px solid #888;
  padding-left: 0.5em;
  padding-right: 0.25em;
  text-align: center;
}
/* FIXME not red, but no border at all */
ul#menu li:first {
  border-left: 4px solid red;
  padding-left: 0;
}
div.nav a:link,
div.nav a:visited,
div.nav a:hover,
div.nav a:active {
  text-decoration: none;
  color: white;
}

div#lhs {
  position: fixed;
  top: -8px;
  left: 6px;
  width: 20em;
  z-index: -1;
}

.active-nav {
  background-color: #eee;
  color: black;
}

div#table-of-contents {
  width: 40em;
  margin: auto;

  background-color: #eee;
  padding: 0.25em 2em 0.5em 2em;
  margin-left: -2em;
  margin-right: -2em;
}
div#table-of-contents ul {
  margin-left: -1em;
}
div#content {
  width: 40em;
  margin: 0 auto;
  background-color: #ddd;

  background-color: white;
  padding: 0 2em 0.5em 2em;
}
div#content h1.title {
  display: none;
}
div#postamble {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
}
div#postamble p {
  margin-top: -0.5em;
}

.noprint {}
@media print { .noprint {display: none} }
