body {
  background-color: #888;
  background-image: url('images/2keys.jpg');
  background-attachment: fixed;
  margin-top: 0;
}

ol li {
  margin-top: 1em;
}

div.header {
  margin-top: 0;
  padding-top: 1px;
}
div.header h1 a:link,
div.header h1 a:visited,
div.header h1 a:hover,
div.header h1 a:active {
  text-decoration: none;
  color: black;
}

div.nav {
  position: fixed;
  top: 24px;
  left: 20px;
  width: 15em;
  background-color: white;
  color: black;
  border: 1px solid black;
}

div.nav ul {
  display: inline;
  padding-left: 0;
  margin-left: 0;
  padding-bottom: 0.5em;
  list-style: none;
  font-size: 1.25em;
}
ul#menu li {
  width: 100%;
}
div.nav a:link,
div.nav a:visited,
div.nav a:active {
  text-decoration: none;
  color: black;
  display: block;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

div.nav a:hover,
.active-nav {
  background-color: #666;
  color: white;
  display: block;
  padding-left: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 100%;
}

div#rhs {
  position: fixed;
  top: 8px;
  right: 20px;
  width: 15em;
  border: 1px solid black;
}

div#table-of-contents {
  width: 40em;
  margin: auto;

  background-color: #f3f5f7;
  padding: 0.25em 2em 0.5em 2em;
  margin-left: -2em;
  margin-right: -2em;
}
div#table-of-contents ul {
  margin-left: -1em;
}
div#content {
  width: 40em;
  margin: 0 auto;
  background-color: #ddd;

  background-color: white;
  padding: 0 2em 0.5em 2em;
}
div#content h1.title {
  display: none;
}
div#postamble {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
  color: white;
}
div#postamble p {
  margin-top: -0.5em;
}

.noprint {}
@media print { .noprint {display: none} }
