body {
  background-color: #ddd;
  margin-top: 0;
}

div.header {
  margin-top: 0;
}
div.header h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
div.nav {
  padding-bottom: 0.5em;
}

div.lhs {
  position: fixed;
  top: 4em;
  left: 0;
  margin-left: 1em;
}
div.lhs h1 {
  font-size: 1em;
}
div.lhs ul {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

div#table-of-contents {
  width: 40em;
  margin: auto;

  background-color: #eee;
  padding: 0.25em 2em 0.5em 2em;
  margin-left: -2em;
  margin-right: -2em;
}
div#table-of-contents ul {
  margin-left: -1em;
}
div#content {
  width: 40em;
  margin: auto;
  margin-top: 0;
  background-color: #ddd;

  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
}
div#content h1.title {
  display: none;
}
div#postamble {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
  font-size: 0.8em;
}
div#postamble p {
  margin-top: -0.5em;
}
