<html>
  <head>
    <title>PatchMaster</title>
  </head>
  <body>
    <h1>PatchMaster</h1>
    <table width="100%">
      <tr>
        <td>
          <h1>Song Lists</h1>
          <h1>Songs</h1>
        </td>
        <td>
          <h1>Song</h1>
          patches...
        </td>
        <td>
          <h1>Info</h1>
          <h1>Triggers</h1>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <h1>Connections</h1>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          Message Window
        </td>
      </tr>
    </table>
  </body>
</html>
